
h1{
    font-family: 'Indie Flower', cursive;
    color: red;
    font-size: 10vh;
    opacity: 0.5;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
